<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UIWindows1.Properties.Settings.JUCESPONLINEConnectionString"
            connectionString="Data Source=JUCESPSERVER\SQL2008;Initial Catalog=JUCESPONLINE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UIWindows1.Properties.Settings.JUCESPONLINEConnectionString1"
            connectionString="Data Source=JUCESPSERVER03\SQL2008;Initial Catalog=JUCESPONLINE;User ID=sa;Password=sasa;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="UIWindows1.Properties.Settings.DBDescParametroConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBDescParametro.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UIWindows1.Properties.Settings.JUCESPONLINE03ConnectionString"
            connectionString="Data Source=JUCESPSERVER03\SQL2008;Initial Catalog=JUCESPONLINE;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>